@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --rose-white: hsl(330, 100%, 98%);
  --egg-shell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --charcoal: hsl(24, 5%, 18%);
}

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: "Outfit";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--egg-shell);
}

h1,
h2 {
  font-family: "Young Serif";
  font-weight: 400;
}

h1 {
  color: var(--charcoal);
}

h2 {
  color: var(--nutmeg);
}

h3 {
  color: var(--dark-raspberry);
}

p,
li,
td {
  color: var(--wenge-brown);
}

ul,
ol {
  list-style-position: outside;
  margin: 0;
  padding-left: 30px;
}

ul li,
ol li {
  padding-left: 20px;
  padding-bottom: 10px;
}

ol li::marker {
  color: var(--dark-raspberry);
  font-weight: 600;
}

main {
  max-width: 800px;
  padding: 30px;
  background-color: white;
  border-radius: 30px;
  margin: 50px;
}

img {
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.prep-time {
  background-color: var(--rose-white);
  padding: 10px;
  padding-left: 40px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-spacing: 0px;
}

td {
  border-bottom: 1px solid var(--light-grey);
  margin: 0;
  padding: 0;
  padding: 10px;
  padding-left: 30px;
}

td b {
  color: var(--dark-raspberry);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 600px) {
  main {
    width: 100%;
    padding: 0;
    border-radius: 0;
    margin: 0;
  }
  main img {
    border-radius: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .recipe {
    padding: 30px;
    padding-top: 0;
  }
  .attribution {
    display: none;
  }
}
